@charset "utf-8";

html, body {width:100%; height:100%;}
body {font-size: 16px;}
h1,h2,h3,p {margin:0;}
ul {list-style: none; margin: 0; padding: 0;}
a {text-decoration: none; color:inherit;}
img {vertical-align: middle;}

/****** header ******/
/* logo */
header {
  width: 100%;
  position: fixed; top: 0; z-index: 9999;
  display: flex;
  flex-flow: column;
  align-items: center;
  display: fixed;
  text-align: center;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  padding:20px 0;
}
header h1 a {
  display: block;
  font-size: 0.4em;
  text-transform: uppercase;
  font-weight: normal;
  color: #6009f0;
}
header h1 a strong {
  font-size: 1.5em;
}

/* email */
header .email a {
  display: block;
  padding: 0.5em 1.5em;
  margin:10px auto;
  border-radius: 2em;
  background: #6009f0;
  background: linear-gradient(45deg,#6009f0, #8105f0);
  color:#fff;
  font-size: 0.7em;
  font-weight: normal;
}

/****** footer ******/
footer {
  position: fixed;
  bottom: 10px;
  left:0; right:0; margin: auto;
  z-index: 999;
  text-align: center;
  color: #6009f0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.2em;
}

/****** toggle menu ******/
#toggle {
  position: fixed;
  z-index: 3;
  width: 2.3em;
  height: 2.5em;
  top: 0;
  right: 0;
  margin: 15px 15px 0 0;
  cursor: pointer;
}
#toggle span {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2em;
  margin: 1em 0 0 0;
  background: #6009f0;
  transition: 350ms ease all;
}
#toggle span:before, #toggle span:after {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2em;
  background: #6009f0;
  transition: 350ms ease all;
}
#toggle span:before {
  margin: -0.8em 0 0 0;
}
#toggle span:after {
  margin: 0.8em 0 0 0;
}
#toggle.open span {
  background-color: transparent;
}
#toggle.open span:before, #toggle.open span:after {
  margin: 0;
  background: #6009f0;
}
#toggle.open span:before {
  transform: rotate(135deg);
}
#toggle.open span:after {
  transform: rotate(-135deg);
}
#gnb {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  text-align: center;
  background: #fff;
  transform: scale(1.5);
  transition: 350ms ease all;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#gnb.opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: 350ms ease all;
}
/* #gnb ul {
  list-style: none;
  margin: 0 auto;
} */
#gnb span#title {
  display: block;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  font-size: 2em;
  color: #6009f0;
}
#gnb li {
  display: block;
  width: 90%;
  height: 65px;
  margin: 0 auto 0.5em auto;
  text-transform: uppercase;
}
#gnb li:after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 65px;
  margin: -65px 0 0 5%;
  left: 0;
  background: #6009f0;
  border-radius: 0.25em;
  transition: 350ms ease all;
}
#gnb li:hover:after {
  width: 90%;
}
#gnb li a {
  position: relative;
  z-index: 4;
  display: block;
  width: 100%;
  height: 65px;
  line-height: 65px;
  margin: 0 auto;
  color: #6009f0;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 0.2em;
  transition: 350ms ease all;
}
#gnb li a:hover {
  color: #eee;
  border-color: #6009f0;
}
#gnb li a span {
  font-size: 1.6666666667em;
}
#gnb li a i {
  position: absolute;
  padding: 0 1.25em 0 0;
  font-size: 2em;
}

#homepage-fullpage .inner {
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 100%;
 height: 100%;
 margin: 0 auto;
 text-align: center;
 
 
 /* font-size: 32px; */
 /* font-weight: bold; */
 color: #000;
 
 position: relative;
 z-index: 1;
 
 opacity: 0.0;
 -webkit-transform: translate(0, 50px);
 transform: translate(0, 50px);
 
 -webkit-transition: 
   all 0.1s ease-out 0.5s;
 transition: 
   all 0.1s ease-out 0.5s;
}

#homepage-fullpage .active .inner {
 opacity: 1.0;
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}

/* 첫 페이지 bg롤링 vegas */
#homepage-fullpage .inner .bg_scroll {
  width: 100%; height: 100%;
}

/* 타이핑 모션 */
#homepage-fullpage .inner .bg_scroll #typing {
  position:absolute;
  top:30%; left:0; right:0;
  font-size: 3em;
  color: #fff;
  font-family: 'Nanum Pen Script', -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  line-height: 1em;
}
#ico_scroll p {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}
#ico_scroll {
  position: absolute;
  bottom: 7%;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-left: 5px double #6009f0;
  border-bottom: 5px double #8105f0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: s_move 2s infinite;
  animation: s_move 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes s_move {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes s_move {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}



/* 기존 css 수정용 ../asset/css/jquery.fullPage.css */

/* 오른쪽 슬라이드 네비게이션 위치 수정 */
#fp-nav.right {
  right: 0;
}
/* 오른쪽 슬라이드 네비게이션 컬러 수정 */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #6009f0;
}
/* 오른쪽 슬라이드 네비게이션 컬러및 폰트수정 */
#fp-nav ul li .fp-tooltip {
  top: 0;
  color: #6009f0;
  font-size: 0.8em;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.width30 {max-width: 30px;}
.width5 {max-width: 5vw;}


/* 이미지 정렬 */
#homepage-fullpage .inner .m_img1 {
  width: 10vh;
  opacity: 0.0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  
  -webkit-transition: 
    all 1s ease-out 1s;
  transition: 
    all 1s ease-out 1s;
 }
 
 #homepage-fullpage .active .inner .m_img1 {
  opacity: 1.0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
 }

#homepage-fullpage .inner .m_img2 {
  width: 25vh;
  opacity: 0.0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  
  -webkit-transition: 
    all 1s ease-out 0.75s;
  transition: 
    all 1s ease-out 0.75s;
  -webkit-box-shadow : #32325d80 0px 30px 20px;
  box-shadow : #32325d80 0px 30px 20px;
 }
 
 #homepage-fullpage .active .inner .m_img2 {
  opacity: 1.0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-box-shadow : #32325d80 0px 30px 20px;
  box-shadow : #32325d80 0px 30px 20px;
}

#homepage-fullpage .inner .m_img2-1 {
  width: 20vh;
  opacity: 0.0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  
  -webkit-transition: 
    all 1s ease-out 0.75s;
  transition: 
    all 1s ease-out 0.75s;
  -webkit-filter:drop-shadow(#32325d80 0px 30px 20px);
  filter:drop-shadow(#32325d80 0px 30px 20px);
 }
 
 #homepage-fullpage .active .inner .m_img2-1 {
  opacity: 1.0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-filter:drop-shadow(#32325d80 0px 30px 20px);
  filter:drop-shadow(#32325d80 0px 30px 20px);
}

#homepage-fullpage .inner .d_img1 {
  width: 15vh;
  position: absolute;
  top: 25vh; right:15vh;
  display: none;
}
#homepage-fullpage .inner .d_img2 {
  width: 30vh;
  position: absolute;
  bottom:30vh; left:10vh;
  display: none;
}

#homepage-fullpage .inner .d_img1-1 {
  width: 30vh;
  position: absolute;
  top: 30vh; left:10vh;
  display: none;
}
#homepage-fullpage .inner .d_img2-1 {
  width: 30vh;
  position: absolute;
  bottom:30vh; right:10vh;
  display: none;
}



/* inner 글자정렬1 */
#homepage-fullpage .inner .t_right {
  text-align: right;
  position: absolute;
  top:12vh; right:10vw;
}
#homepage-fullpage .inner .b_left {
  text-align: right;
  position: absolute;
  bottom:10vh; right:10vw;
}

/* inner 글자정렬2 */
#homepage-fullpage .inner .t_left {
  text-align: left;
  position: absolute;
  top:12vh; left:10vw;
}
#homepage-fullpage .inner .b_right {
  text-align: left;
  position: absolute;
  bottom:10vh; left:10vw;
}


/* inner 텍스트 공통부분 */
#homepage-fullpage .inner .txt1 {
  text-transform: capitalize;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#homepage-fullpage .inner .txt1 h2 {
  padding:0 3vh;
  font-size: 5em;
  color: #d7d4e1;
  text-transform: uppercase;

  opacity: 0.0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  
  -webkit-transition: 
    all 0.5s ease-out 1s;
  transition: 
    all 0.5s ease-out 1s;
}
 
 #homepage-fullpage .active .inner .txt1 h2 {
  opacity: 1.0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#homepage-fullpage .inner .txt1 .con {
  margin-top: -5vh;
  opacity: 0.0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  
  -webkit-transition: 
    all 0.75s ease-out 1.25s;
  transition: 
    all 0.75s ease-out 1.25s;
}
 
 #homepage-fullpage .active .inner .txt1 .con {
  opacity: 1.0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
#homepage-fullpage .inner .txt1 .con h3 {
  font-size: 1.5em;
}
#homepage-fullpage .inner .txt1 .con h3+p {
  width: 75vw;
  font-size: 1.25em;
  color: #574f70;
}
#homepage-fullpage .inner .txt1 .con p {
  font-size: 0.8em;
  margin-top: 1vh;
  color: #574f70;
}


#homepage-fullpage .inner .txt2 h3 {
  font-size: 1em;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#homepage-fullpage .inner .txt2 .con {
  font-family: 'Noto Sans KR', -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  font-size: 0.8em;
  letter-spacing: -1px;
}
#homepage-fullpage .inner .txt2 .con h4 {
  margin:0 0 15px 0;
  font-weight: normal;
  font-size: 1em;
}
#homepage-fullpage .inner .txt2 .con h4 strong {
  font-weight: 500;
}
#homepage-fullpage .inner .txt2 .con p {
  margin:0 0 2px 0;
  width: 70vw;
}
#homepage-fullpage .inner .txt2 .con span {
  margin:0 10px;
}


@media (min-width:768px) {
  #gnb span#title {
    font-size: 3em;
  }

  /* 타이핑 모션 */
  #homepage-fullpage .inner .bg_scroll #typing {
    top:25%;
    font-size: 3.2em;
    /* line-height: 0.8em; */
  }

  /* inner 글자정렬1 */
  #homepage-fullpage .inner .t_right {
    top:10vh;
  }
  #homepage-fullpage .inner .b_left {
    right:65vw;
  }

  /* inner 글자정렬2 */
  #homepage-fullpage .inner .t_left {
    top:10vh;
  }
  #homepage-fullpage .inner .b_right {
    left:65vw;
  }

  /* inner 텍스트 공통부분 */
  #homepage-fullpage .inner .txt1 h2 {
    padding:5vh 3vh 0 3vh;
    font-size: 5em;
  }
  #homepage-fullpage .inner .txt2 .con p {
    width: 32vw;
  }
}


@media (min-width:1024px) {
  /* 타이핑 모션 */
  #homepage-fullpage .inner .bg_scroll #typing {
    font-size: 3.5em;
  }

  #homepage-fullpage .inner .m_img2 {
    width: 100%;
  }
  #homepage-fullpage .inner .m_img2-1 {
    width: 25vh;
  }
  
  #homepage-fullpage .inner .d_img1,
  #homepage-fullpage .inner .d_img2,
  #homepage-fullpage .inner .d_img1-1,
  #homepage-fullpage .inner .d_img2-1 {
    display: block;
  }

  /* inner 글자정렬1 */
  #homepage-fullpage .inner .b_left {
    bottom:15vh; right:65vw;
  }
  /* inner 글자정렬2 */
  #homepage-fullpage .inner .b_right {
    bottom:15vh; left:65vw;
  }

  /* inner 텍스트 공통부분 */
  #homepage-fullpage .inner .txt1 .con {
    margin-top: -4vh;
  }
  #homepage-fullpage .inner .txt1 h2 {
    padding:5vh 3vh 0 3vh;
    font-size: 7em;
  }
  #homepage-fullpage .inner .txt1 .con h3 {
    font-size: 2em;
  }
  #homepage-fullpage .inner .txt1 .con h3+p {
    font-size: 1.5em;
  }
  #homepage-fullpage .inner .txt2 .con p {
    width: 32vw;
  }

  #homepage-fullpage .inner .txt2 h3 {
    font-size: 2em;
  }
  #homepage-fullpage .inner .txt2 .con h4 {
    font-size: 1.5em;
  }
}


@media (min-width:1200px) {
  /****** header ******/
  /* logo */
  header {
    width: 95%;
    flex-flow: row;
    justify-content: space-between;
  }
  header h1 a {
    padding-left:30px;
  }
  header .email a {
    margin:0 auto;
  }

  /* 타이핑 모션 */
  #homepage-fullpage .inner .bg_scroll #typing {
    font-size: 4.5em;
  }

  #homepage-fullpage .inner .d_img1 {
    top: 20vh; right:37vw;
  }
  #homepage-fullpage .inner .d_img2 {
    bottom:20vh; left:30vw;
  }
  
  #homepage-fullpage .inner .d_img1-1 {
    top: 20vh; left:30vw;
  }
  #homepage-fullpage .inner .d_img2-1 {
    bottom:20vh; right:30vw;
  }

  /* inner 글자정렬1 */
  #homepage-fullpage .inner .t_right {
    right:25vw;
  }

  /* inner 글자정렬2 */
  #homepage-fullpage .inner .t_left {
    left:25vw;
  }

  /* inner 텍스트 공통부분 */
  #homepage-fullpage .inner .txt2 .con p {
    width: 20vw;
  }
}