@charset "utf-8";

html, body {width:100%; height:100%;}
body {font-size: 16px;}
h1,h2,h3,p {margin:0;}
ul {list-style: none; margin: 0; padding: 0;}
a {text-decoration: none; color:inherit;}
img {vertical-align: middle;}

/****** header ******/
/* logo */
header {
  width: 100%;
  position: fixed; top: 0; z-index: 9999;
  display: flex;
  flex-flow: column;
  align-items: center;
  display: fixed;
  text-align: center;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  padding:25px 0 0;
}
header h1 a {
  display: block;
  font-size: 0.4em;
  text-transform: uppercase;
  font-weight: normal;
  color: #027efb;
  transition: 350ms ease all;
}
header h1 a strong {
  font-size: 1.5em;
}

/* email */
header .email a {
  display: block;
  padding: 0.5em 1.5em;
  margin:10px auto;
  border-radius: 2em;
  color: #fff;
  background: #6009f0;
  background: linear-gradient(45deg,#027efb, #03acee);
  font-size: 0.7em;
  font-weight: normal;
  transition: 350ms ease all;
}

/****** footer ******/
footer {
  position: fixed;
  bottom: 10px;
  left:0; right:0; margin: auto;
  z-index: 999;
  text-align: center;
  color: #027efb;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.2em;
}

/****** toggle menu ******/
#toggle {
  position: fixed;
  z-index: 3;
  width: 2.3em;
  height: 2.5em;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}
#toggle span {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2em;
  margin: 1em 0 0 0;
  background: #027efb;
  transition: 350ms ease all;
}
#toggle span:before, #toggle span:after {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2em;
  background: #027efb;
  transition: 350ms ease all;
}
#toggle span:before {
  margin: -0.8em 0 0 0;
}
#toggle span:after {
  margin: 0.8em 0 0 0;
}
#toggle.open span {
  background: transparent;
}
#toggle.open span:before, #toggle.open span:after {
  margin: 0;
  background: #027efb;
}
#toggle.open span:before {
  transform: rotate(135deg);
}
#toggle.open span:after {
  transform: rotate(-135deg);
}
#gnb {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  text-align: center;
  background: #fff;
  transform: scale(1.5);
  transition: 350ms ease all;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#gnb.opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: 350ms ease all;
}

/* #gnb ul {
  list-style: none;
  margin: 0 auto;
} */
#gnb span#title {
  display: block;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  font-size: 2em;
}
#gnb span#title a{
  color: #027efb;
}
#gnb li {
  display: block;
  width: 90%;
  height: 65px;
  margin: 0 auto 0.5em auto;
  text-transform: uppercase;
}
#gnb li:after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 65px;
  margin: -65px 0 0 5%;
  left: 0;
  background: #027efb;
  border-radius: 0.25em;
  transition: 350ms ease all;
}
#gnb li:hover:after {
  width: 90%;
}
#gnb li a {
  position: relative;
  z-index: 4;
  display: block;
  width: 100%;
  height: 65px;
  line-height: 65px;
  margin: 0 auto;
  color: #027efb;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 0.2em;
  transition: 350ms ease all;
}
#gnb li a:hover {
  color: #eee;
  border-color: #027efb;
}
#gnb li a:hover span {
  color: #fff;
  background:transparent;
}
#gnb li a span {
  font-size: 1.6666666667em;
  color: #027efb;
}
#gnb li a i {
  position: absolute;
  padding: 0 1.25em 0 0;
  font-size: 2em;
}

#homepage-fullpage .inner {
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 100%;
 height: 100%;
 margin: 0 auto;
 text-align: center;
 
 
 /* font-size: 32px; */
 /* font-weight: bold; */
 color: #000;
 
 position: relative;
 z-index: 1;
 
 opacity: 0.0;
 -webkit-transform: translate(0, 50px);
 transform: translate(0, 50px);
 
 -webkit-transition: 
   all 0.1s ease-out 0.5s;
 transition: 
   all 0.1s ease-out 0.5s;
}

#homepage-fullpage .active .inner {
 opacity: 1.0;
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}

.fp-controlArrow.fp-prev {
  border-color: transparent;
  border-left: 5px double #027efb;
  border-bottom: 5px double #03acee;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fp-controlArrow.fp-next {
  border-color: transparent;
  border-top: 5px double #027efb;
  border-right: 5px double #03acee;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* 기존 css 수정용 ../asset/css/jquery.fullPage.css */

/* 오른쪽 슬라이드 네비게이션 위치 수정 */
#fp-nav.right {
  right: 0.5vw;
}
/* 오른쪽 슬라이드 네비게이션 컬러 수정 */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #027efb;
}
/* 오른쪽 슬라이드 네비게이션 컬러및 폰트수정 */
#fp-nav ul li .fp-tooltip {
  top: 0;
  color: #027efb;
  font-size: 0.8em;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 버전별 배경 이미지 */
#homepage-fullpage .inner .bg_imac {
  width: 650px; height: 562px;
  background: url(../images/webdesign/imac.png) no-repeat 50% 0 / cover;
}
#homepage-fullpage .inner .bg_ipad {
  width: 313px; height: 407px;
  position: absolute;
  left: 45vh; bottom: 20vh;
  z-index: 999;
  background: url(../images/webdesign/ipad.png) no-repeat 50% 0 / cover;
}
#homepage-fullpage .inner .bg_iphone {
  width: 140px; height: 278px;
  position: absolute;
  right: 60vh; bottom: 20vh;
  z-index: 1000;
  border-radius: 20px;
  background: #fff url(../images/webdesign/iphone.png) no-repeat 50% 0 / cover;
}

/* 오가닉케이 이미지 */
#homepage-fullpage .inner .o_pc:before {
  content: "";
  background: #fff url(../images/webdesign/01-1-organick.png) no-repeat 50% 0 / cover;
  width: 92%; height:60%;
  display: block;
  margin: 23px auto;
}
#homepage-fullpage .inner .o_tablet:before {
  content:"";
  background: #fff url(../images/webdesign/01-2-organick.png) no-repeat 50% 0 / cover;
  width: 80%; height:80%;
  display: block;
  margin: 30px auto;
}
#homepage-fullpage .inner .o_mobile:before {
  content:"";
  background: #fff url(../images/webdesign/01-3-organick.png) no-repeat 50% 0 / cover;
  width: 86%; height:90%;
  display: block;
  margin: 20px auto 10px;
  border-radius: 10px;
}


/* inner 글자정렬1 */
#homepage-fullpage .inner .t_right {
  text-align: right;
  position: absolute;
  top:12vh; right:10vw;
}

/* inner 텍스트 공통부분 */
#homepage-fullpage .inner .txt1 {
  text-transform: capitalize;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#homepage-fullpage .inner .txt1 h2 {
  padding-right:5vh;
  font-size: 2em;
  color: #cae1e9;
  text-transform: uppercase;

  opacity: 0.0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  
  -webkit-transition: all 0.5s ease-out 1s;
  transition: all 0.5s ease-out 1s;
}
 
#homepage-fullpage .active .inner .txt1 h2 {
  opacity: 1.0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#homepage-fullpage .inner .txt1 .con {
  margin-top: -1vh;
  opacity: 0.0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  
  -webkit-transition: all 0.75s ease-out 1.25s;
  transition: all 0.75s ease-out 1.25s;
}
 
#homepage-fullpage .active .inner .txt1 .con {
  opacity: 1.0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
#homepage-fullpage .inner .txt1 .con h3 {
  color:#027efb;
  font-family: 'THEFACESHOP', 'Nanum Pen Script', -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  font-size: 2em;
  font-weight: normal;
}
#homepage-fullpage .inner .txt1 .con h3+p {
  font-size: 1em;
  color: #333;
}
#homepage-fullpage .inner .txt1 .con a {
  display: block;
  margin-top: 50px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#homepage-fullpage .inner .txt1 .con a img {
  width: 16px;
  vertical-align: top;
}



@media (min-width:768px) {
  #gnb span#title {font-size: 3em;}

  /* inner 글자정렬1 */
  #homepage-fullpage .inner .t_right {top:10vh;}

  /* inner 텍스트 공통부분 */
  #homepage-fullpage .inner .txt1 h2 {padding:5vh 3vh 0 3vh; font-size: 3.5em;}

  /* 이미지 정렬 */
  #homepage-fullpage .inner .c_img img:nth-child(1) {width: 45vh;}
  #homepage-fullpage .inner .c_img img:nth-child(2) {top: 60%; left:-300px;}
  #homepage-fullpage .inner .c_img img:nth-child(3) {top: 65%;}
  #homepage-fullpage .inner .c_img img:nth-child(4) {top: 70%; left:300px;}
}


@media (min-width:1024px) {
  #homepage-fullpage .inner .txt1 h2 {font-size: 4.5em;}
  #homepage-fullpage .inner .txt1 .con h3 {font-size: 3em;}
  /* #homepage-fullpage .inner .txt1 .con h3+p {font-size: 2em;} */
}


@media (min-width:1200px) {
  /****** header ******/
  /* logo */
  header {width: 95%; flex-flow: row; justify-content: space-between;}
  header h1 a {padding-left:30px;}
  header .email a {margin:0 auto;}

  /* inner 글자정렬1 */
  #homepage-fullpage .inner .t_right {right:10vw;}

  #homepage-fullpage .inner .c_img img:nth-child(1) {width: 55vh;}

  #homepage-fullpage .inner .c_img1 img:nth-child(2),
  #homepage-fullpage .inner .c_img1-1 img:nth-child(2) {display:block; left:-700px;}
  #homepage-fullpage .inner .c_img1 img:nth-child(3),
  #homepage-fullpage .inner .c_img1-1 img:nth-child(3) {display:block; left:700px;}

  #homepage-fullpage .inner .c_img2 img {
    width: 60vh;
    top: 15%;
    opacity: 0.0;
    -webkit-transform: rotate(-90deg) translate(-50px, 0);
    transform: rotate(-90deg) translate(-50px, 0);
    
    -webkit-transition: all 1s ease-out 1s;
    transition: all 1s ease-out 1s;
  }
  
  #homepage-fullpage .active .inner .c_img2 img {
    opacity: 1;
    -webkit-transform: rotate(-90deg) translate(0, 0);
    transform: rotate(-90deg) translate(0, 0);
  }
}